html {
  font-size: 62.5%;  // 1rem = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;

  // @media only screen and (min-width: 100em) {
  //   font-size: 75%;    // 1rem = 12px
  // }

  // @media only screen and (min-width: 125em) {
  //   font-size: 87.5%;    // 1rem = 12px
  // }
  
  // @media only screen and (min-width: 156.25em) {
  //   font-size: 100%;    // 1rem = 12px
  // }
  
  // @media only screen and (max-width: 68.75em) {
  //   font-size: 50%;    // 1rem = 8px
  // }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbar-width: none;
}

body {
  font-family: 'KoHo', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #1a1a1a;
  color: #fff;
}

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: 'KoHo', sans-serif;
  font-weight: 400;
}


/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #797a79;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #845695;
}